{% load  staticfiles %}
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>登录界面</title>
<!-- Bootstrap core CSS -->
    <link href="{% static "asserts/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "asserts/css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static "asserts/css/bootstrap.css" %}" rel="stylesheet">
<!-- Custom styles for this template -->
    <link href="{% static "asserts/css/signin.css" %}" rel="stylesheet">
</head>

<body class="text-center">
	<form class="form-signin" id="form" action="" method="post">
        {% csrf_token %}
		<img class="mb-4" src="{% static "asserts/img/bootstrap-solid.svg"%}" alt="" width="72" height="72" />
		<h1 class="h3 mb-3 font-weight-normal">登录</h1>

        {%if errors%}
                  <div class="col-sm-auto col-sm-offset-4 margint10">
                  <span class="color-background2 ">
                    {{ errors }}
                  </span>
                  </div>
                  {%endif%}
        <div class="form-group {%if form1.username.errors%} has-error {%endif%}">
                    <label for="username" class="col-sm-4 ">用户名:</label>
                    <div class="col-sm-auto">
                    {{form1.username}}
                    </div>
                </div>
    <div class="form-group {%if form1.password.errors%} has-error {%endif%}">
                    <label for="password" class="col-sm-4 ">密码:</label>
                    <div class="col-sm-auto">
                    {{form1.password}}
                    </div>
                </div>

		<button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
		<a class="mt-5 mb-3 text-muted" href="/signup">注册</a><br />
	</form>

</body>

</html>