{% load  staticfiles %}

<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>Data-Driven Material Platform </title>
    <link rel="shortcut icon" href="{% static "img/smalltest1.png"%}">


    <!-- global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    <link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css"%}">
    <link rel="stylesheet" href="{% static "css/font-icon-style.css"%}">
    <link rel="stylesheet" href="{% static "css/style.default.css"%}" id="{% static "theme-stylesheet"%}">
     <style type="text/css" media="screen">
        .btnn {
    width: 5vmin;
    height: 5vmin;
    border-radius: 1vmin;
    border: 0.25vmin solid rgb(, 0, 0);
    border-color:rgb(127, 215, 215);
    color:rgb(127, 215, 215);
    background-color:white;
}
.btn1 {
    width: 5vmin;
    height: 5vmin;
    border-radius: 0.5vmin;
    border: 0.25vmin solid rgb(, 0, 0);
    border-color:rgb(127, 215, 215);
    color:rgb(127, 215, 215);
    background-color:white;
}
.btn2 {
    width: 5vmin;
    height: 5vmin;
    border-radius: 0.5vmin;
    border: 0.25vmin solid rgb(, 0, 0);
    border-color:rgb(127, 215,175);
    color:rgb(127, 215, 215);
    background-color:white;
}
.btn3 {
    width: 7vmin;
    height: 7vmin;
    border-radius: 1vmin;
    border: 0.25vmin solid rgb(, 0, 0);
    border-color: lightgoldenrodyellow;
    color:ghostwhite;
    background-color:rgb(107,205,214);
    opacity: 1 ;
    transition: opacity 3s;
    -webkit-transition: opacity 3s;
    font-size: 22px;
}
.btn4 {
    width: 5vmin;
    height: 5vmin;
    border-radius: 1vmin;
    border: 0.25vmin solid rgb(, 0, 0);
    border-color: rgb(127, 215, 215);
    color: rgb(127, 215, 215);
    background-color:white;
}
.btn5 {
    width: 5vmin;
    height: 5vmin;
    border-radius: 1vmin;
    border: 0.25vmin solid rgb(, 0, 0);
    border-color: #009688;
    color: #009688;
    background-color:white;
}
.btn6 {
    width: 7vmin;
    height: 7vmin;
    border-radius: 1vmin;
    border: 0.25vmin solid rgb(, 0, 0);
    border-color: #607D8B;
    color: #607D8B;
    background-color: white;
}
.btn7 {
    width: 5vmin;
    height: 5vmin;
    border-radius: 1vmin;
    border: 0.25vmin solid rgb(, 0, 0);
    border-color: rgb(127, 215, 215);
    color: rgb(127, 215, 215);
    background-color: white;
}
.btn2:hover {
    color: black;
    background: yellow;
    opacity: 0.5;
}
.btn3:hover {
    color: black;
    background: #009688;
    opacity: 0.5;
    width: 7.5vmin;
    height: 7.5vmin;
    border-radius: 1vmin;
}
.btnn:hover {
    color: black;
    background: g;
    opacity: 0.5;
}

.btn7:focus {
　　color: black;

    opacity: 0.6;
    width: 5vmin;
    height: 5vmin;
    border-radius: 1vmin;
    }


        .btn-secondary {
    color: #fff;
    background-color: #009688;
    border-color: #009688;
}

    </style>
</head>

<body>

<!--====================================================
                         MAIN NAVBAR
======================================================-->
    <header class="header">
        <nav class="navbar navbar-expand-lg ">
            <div class="search-box">
                <button class="dismiss"><i class="icon-close"></i></button>
                <form id="searchForm" action="#" role="search">
                    <input type="search" placeholder="Search Now" class="form-control">
                </form>
            </div>
            <div class="container-fluid ">
                <div class="navbar-holder d-flex align-items-center justify-content-between">
                    <div class="navbar-header">
                        <a href="index.html" class="navbar-brand">
                            <div class="brand-text brand-big hidden-lg-down"><img src="{% static "img/logotest41.png"%}" alt="Logo" class="img-fluid"></div>
                            <div class="brand-text brand-small"><img src="{% static "img/smalltest123"%}" alt="Logo" class="img-fluid"></div>
                        </a>

                    </div>
                </div>
                <ul class="nav-menu list-unstyled d-flex flex-md-row align-items-md-center">
                    <!-- Expand-->
                    <li class="nav-item d-flex align-items-center full_scr_exp"><a class="nav-link" href="#"><img src="{% static "img/expand.png"%}"  onclick="toggleFullScreen(document.body)" class="img-fluid" alt=""></a></li>
                    <!-- Search-->
                    <li class="nav-item d-flex align-items-center"><a id="search" class="nav-link" href="#"><i class="icon-search"></i></a></li>
                    <!-- Notifications-->
                    <li class="nav-item dropdown">
                        <a id="notifications" class="nav-link" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o"></i><span class="noti-numb-bg"></span><span class="badge">12</span></a>

                    </li>
                    <!-- Messages                        -->
                    <li class="nav-item dropdown"> <a id="messages" class="nav-link logout" rel="nofollow" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope-o"></i><span class="noti-numb-bg"></span><span class="badge">10</span></a>

                    </li>
                    <li class="nav-item dropdown"><a id="profile" class="nav-link logout" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static "img/person.png"%}" alt="..." class="img-fluid rounded-circle" style="height: 30px; width: 30px;"></a>
                        <ul aria-labelledby="profile" class="dropdown-menu profile">
                            <li>
                                <a rel="nofollow" href="#" class="dropdown-item d-flex">
                                    <div class="msg-profile"> <img src="{% static "img/person.png"%}" alt="..." class="img-fluid rounded-circle"></div>
                                    <div class="msg-body">
                                        <h3 class="h5">{{ username }}</h3><span>{{ email }}</span>
                                    </div>
                                </a>
                                <hr>
                            </li>
                            <li>
                                <a rel="nofollow" href="/taskmanage/" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-user "></i>My Task</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="profile.html" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-envelope-o"></i>Inbox</div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a rel="nofollow" href="profile.html" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-cog"></i>Setting</div>
                                    </div>
                                </a>
                                <hr>
                            </li>
                            <li>
                                <a rel="nofollow" href="/logout/" class="dropdown-item">
                                    <div class="notification">
                                        <div class="notification-content"><i class="fa fa-power-off"></i>Logout</div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item d-flex align-items-center"><a id="menu-toggle-right" class="nav-link" href="#"><i class="fa fa-bars"></i></a></li>
                    <nav id="sidebar-wrapper">
                      <div class="sidebar-nav">
                        <div class="tab" role="tabpanel">
                            <ul class="nav nav-tabs" role="tablist">
                              <li class="nav-item ">
                                <a class="nav-link active" href="#live" role="tab" data-toggle="tab"><i class="fa fa-globe"></i> Live</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#trend" role="tab" data-toggle="tab"><i class="fa fa-rocket"></i> Trending</a>
                              </li>
                            </ul>
                            <div class="tab-content tabs">
                              <div role="tabpanel" class="tab-pane fade show active" id="live">
                                <h3>Connect Live</h3>
                                <div class="content newsf-list">
                                    <ul class="list-unstyled">
                                        <li class="border border-primary">
                                            <a rel="nofollow " href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="{% static "img/avatar-2.jpg"%}" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">New Innovation world</h6>
                                                    <small>Tech soft is great innovation for...</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="border border-success">
                                            <a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="{% static "img/avatar-3.jpg"%}" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Modified hand-cart</h6>
                                                    <small>The idea is to incorporate easy...</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="border border-info">
                                            <a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="{% static "img/avatar-4.jpg"%}" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="border border-primary">
                                            <a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="{% static "img/avatar-1.jpg"%}" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="border border-success">
                                            <a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="{% static "img/avatar-2.jpg"%}" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="border border-info">
                                            <a rel="nofollow" href="#" class=" d-flex">
                                                <div class="news-f-img"> <img src="{% static "img/avatar-3.jpg"%}" alt="..." class="img-fluid rounded-circle"></div>
                                                <div class="msg-body">
                                                    <h6 class="h5 msg-nav-h6">Low cost Modern printer</h6>
                                                    <small>A dot matrix printer modified at...</small>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                              </div>
                              <div role="tabpanel" class="tab-pane fade" id="trend">
                                <div class="card card-c2" style="box-shadow: 0 0 0;">
                                    <div class="header">
                                        <h3 class="title">Trending Items</h3>
                                        <p class="category">Last Campaign Performance</p>
                                    </div>
                                    <div class="content">
                                        <canvas class="ct-chart" id="myChart4" height="250"></canvas>
                                        <div class="footer">
                                            <div class="legend">
                                                <i class="fa fa-circle text-info"></i> Open
                                                <i class="fa fa-circle text-danger"></i> Bounce
                                                <i class="fa fa-circle text-warning"></i> Unsubscribe
                                            </div>
                                            <hr>
                                            <div class="stats">
                                                <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                           </div>
                      </div>
                    </nav>
                </ul>
            </div>
        </nav>
    </header>

<!--====================================================
                        PAGE CONTENT
======================================================-->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <nav class="side-navbar">
            <div class="sidebar-header d-flex align-items-center">
                <img src="{% static "img/upper-left2.jpg"%}" >

            </div>
            <hr>
            <!-- Sidebar Navidation Menus-->
            <ul class="list-unstyled">
                <li class="active"> <a href="/rehome"><i class="icon-home"></i>Home</a></li>
                <li > <a href="../vasp"><i class="fa fa-globe"></i>VASP</a></li>

                <li><a href="#apps" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Search </a>
                    <ul id="apps" class="collapse list-unstyled">
                        <li><a href="/searchall_elements">by Elements</a></li>
                        <li><a href="/searchall_formula">by Formula</a></li>
                        <li><a href="/searchall_ids">by IDs</a></li>
                    </ul>
                </li>
                <li> <a href= "/chart"> <i class="fa fa-bar-chart"></i>Chart </a></li>
                <li><a href="#forms" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-building-o"></i>Data Analysis </a>
                    <ul id="forms" class="collapse list-unstyled">
                        <li><a href="basic-form.html">Basic Analysis</a></li>
                        <li><a href="form-layouts.html">Experiment Analysis</a></li>
                    </ul>
                </li>
                <li> <a href="maps.html"> <i class="fa fa-map-o"></i>Tutorials </a></li>
                <li><a href="#pages" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-file-o"></i>Documentation </a>
                    <ul id="pages" class="collapse list-unstyled">
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="search.html">Empty</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="login.html">Log In</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="search-result.html">Search Result</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="list-unstyled">
                <li> <a href="#"> <i class="icon-picture"></i>Back Top </a></li>
            </ul>
        </nav>


        <div class="content-inner chart-cont">

            <!--***** CONTENT *****-->
        <center>
            <form  action="/search_elements/" method="post">
                {% csrf_token %}

                <div class="input-group mb-4">
                    <input type="text"name="elements" class="form-control" id="txtShow" placeholder="CrLi" >
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="submit">Go!</button>
                    </span>
                </div>
            </form>
        </center>
            <div style="class:row; ">
                <center>

                <table style="border: solid 0 white;">

                            <tr >
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="H" class="btn3"></td>
                                <td colspan="16"></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="He" class="btn3"
                                     /></td>
                            </tr>
                            <tr>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Li" class="btn3" /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Be" class="btn3"
                                    /></td>
                                <td colspan="10" rowspan="2"></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="B" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="C" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="N" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="O" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="F" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ne" class="btn3"
                                     /></td>
                            </tr>
                            <tr>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Na" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Mg" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Al" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Si" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="P" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="S" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Cl" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ar" class="btn3"
                                     /></td>
                            </tr>
                            <tr>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="K" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ca" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Sc" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ti" class="btn3"
                                   /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="V" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Cr" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Mn" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Fe" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Co" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ni" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Cu" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Zn" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ga" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ge" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="As" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Se" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Br" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Kr" class="btn3"
                                     /></td>
                            </tr>
                            <tr>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Rb" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Sr" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Y" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Zr" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Nb" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Mo" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Tc" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ru" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Rh" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Pd" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ag" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Cd" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="In" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Sn" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Sb" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Te" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="I" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Xe" class="btn3"
                                    /></td>
                            </tr>
                            <tr>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Cs" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ba" class="btn3"
                                     /></td>
                                <td class="btn6"></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Hf" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ta" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="W" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Re" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Os" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ir" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Pt" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Au" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Hg" class="btn3"
                                    ></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="TI" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Pb" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Bi" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Po" class="btn3"
                                    /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="At" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Rn" class="btn3"
                                     /></td>
                            </tr>
                            <tr>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Fr" class="btn3"
                                     /></td>
                                <td style="padding: 0%;"><input type="button"
                                    onclick="add(this)" id="Button1" value="Ra" class="btn3"
                                     /></td>
                                <td class="btn6"></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Rf" class="btn3" /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Db" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Sg" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Bh" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Hs" class="btn3" /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Mt" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Uun" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Uuu" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Uub" class="btn3"  /></td>
                                <td colspan="7"></td>
                            </tr>
                            <tr>
                                <td colspan="2" rowspan="2"></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="La" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Ce" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Pr" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Nd" class="btn3" /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Pm" class="btn3" ></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Sm" class="btn3" /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Eu" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Gd" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Tb" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Dy" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Ho" class="btn3" /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Er" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Tm" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Yb" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Lu" class="btn3"  /></td>
                                <td rowspan="2"></td>
                            </tr>
                            <tr>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Ac" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Th" class="btn3" /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Pa" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="U" class="btn3" /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Np" class="btn3" /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Pu" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Am" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Cm" class="btn3" /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Bk" class="btn3" /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Cf" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Es" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Fm" class="btn3"/></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Md" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="No" class="btn3"  /></td>
                                <td><input type="button" onclick="add(this)" id="Button1"
                                    value="Lr" class="btn3"  /></td>
                            </tr>
                            </table>
                    </center>

            </div>
            <div class="table-responsive">
            <table class="table table-hover">
                  <thead>
                    <tr class="bg-info text-white">
                      <th>#</th>
                      <th>sl-id</th>
                      <th>prettyformula</th>
                      <th>elements</th>
                        <th>vasp</th>
                    </tr>
                  </thead>
                <tbody>
                    {% for contact in contacts %}
                        <tr>
                          <th scope="row">{{ contact.id }}</th>
                          <td onclick="window.location='../materialdetail?slid={{contact.slid }}';">{{ contact.slid }}</td>
                          <td>{{ contact.prettyformula }}</td>
                          <td>{{ contact.elements }}</td>
                          <td><input  value="VASP"  type="submit" onclick="window.location='gotovasp?slid={{contact.slid }}';"></td>                        </tr>
                    {% endfor %}
                </tbody>
            </table>

    </div>
        <div>
    <ul class="pager">
        {% if contacts.has_previous %}
            {{ elements }}

            <li><a href="?page=1&elements={{ elements }}">&laquo; first</a></li>
            <li><a href="?page={{ contacts.previous_page_number }}&elements={{ elements }}">previous</a></li>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}

             <li><a href="?page={{ contacts.next_page_number }}&elements={{ elements }}">next</a></li>
             <li><a href="?page={{ contacts.paginator.num_pages }}&elements={{ elements }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</div>
            </br><
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>
            </br>

        </div>
    </div>

    <!--Global Javascript -->
    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/popper/popper.min.js"%}"></script>
    <script src="{% static "js/tether.min.js"%}"></script>
    <script src="{% static "js/bootstrap.min.js"%}"></script>
    <script src="{% static "js/jquery.cookie.js"%}"></script>
    <script src="{% static "js/jquery.validate.min.js"%}"></script>
    <script src="{% static "js/chart.min.js"%}"></script>
    <script src="{% static "js/front.js"%}"></script>

    <!--Core Javascript -->
    <script>
        new Chart(document.getElementById("myChart4").getContext('2d'), {
          type: 'doughnut',
          data: {
            labels: ["M", "T", "W", "T", "F", "S", "S"],
            datasets: [{
              backgroundColor: [
                "#95a5a6",
                "#95a5a6",
                "#95a5a6",
                "#95a5a6",
                "#95a5a6",
                "#95a5a6",
                "#95a5a6"
              ],
              data: [12, 19, 3, 17, 28, 24, 7]
            }]
          },
          options: {
              legend: { display: false },
              title: {
                display: true,
                text: ''
               }
            }
        });
    </script>
</body>
<script type="text/javascript" >
		function add(obj)
		{
			document.getElementById("txtShow").value+=obj.value+'-';
             $(obj).css("background","#EEE685");
             $(obj).css("color","black");


		}
		function search() {
			var val = $("#txtshow").value
			var type = $("#slList").value
			var url = "http://localhost:8080/search/searchid="+val + "/type="+type
			htmlobj=$.ajax({url:"http://localhost:8080/search/searchid="+val,async:false});
			$("#myDiv").html(htmlobj.responseText);
		}

</script>


	<script type="text/javascript" src="{% static "js/jquery-3.3.1.js"%}"></script>

</html>